<h1>you are in bob's drumschool!</h1>


<p>we are serious about drumming!</p>


<p>first up here is bob, drum teacher extraordinaire of 30 years.</p>


<p>check out the free stuff here, the sections about setting up drums, tuning them, maintenance, sticking, theory and more and sign up for the free first term.</p>