<div class="pro_linedrop">
<ul class="select">
<li><a href="/index"><b>Home</b></a></li>
<li class="line"><a href="#nogo"><b>About Drums</b>
<!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class="sub">
		<li><a href="/history">History</a></li>
		<li><a href="/setting_up">Setting Up</a></li>
		<li><a href="/tuning">Tuning</a></li>
		<li><a href="/sticking">Sticking</a></li>
		<li><a href="/theory">Theory</a></li>

	</ul>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
<li class="line"><a href="#nogo"><b>Courses</b>
<!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class="sub">
		<li><a href="/courses/1">Rock Basic</a></li>
		<li><a href="/courses/2">Rock Intermediate</a></li>
		<li><a href="/courses/3">Rock Advanced</a></li>
		<li><a href="/courses/4">Jazz Basic</a></li>
	</ul>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
<li class="lrt"><a href="/help"><b>Help</b></a></li>
<li class="lrt"><a href="/about"><b>Who we are</b></a></li>
<li class="lrt"><a href="http://community.bobsdrumschool.com"><b>Community</b></a></li>

<!--[if IE 7]><!--></a><!--<![endif]-->


<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
<li class="lrt"><a href="/contact_us"><b>Contact us</b></a>
<!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
</ul>
</div>
